<div class="main posts-index">
  <div class="container">
    <% @comments.each do |comment| %>
      <div class="posts-index-item">
        <div class="post-left">
          <%= link_to("/users/#{comment.user.id}") do%>
            <img src="<%= "/user_images/#{comment.user.image_name}" %>">
          <%end%>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(comment.user.name, "/users/#{comment.user.id}") %>
          </div>
          <%= link_to(comment.content, "/users/#{comment.user_id}") %>
          <div class="post-menus">
            <%if @current_user.id == comment.user_id%>
                <%= link_to("削除", "/comments/destroy/#{comment.id}", {method: "post"}) %>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>