<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">To Comment</h1>
    <%= form_tag("/comments/create/#{@post.id}" ,{multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @comment.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="content"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>