<div class="main users-edit">
  <div class="container">
    <div class="form-heading">Account Edit</div>
      <div class="form users-form">
        <div class="form-body">
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>画像</p>
          <input name="image" type="file">
          <p>ユーザーID</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" value="<%= @user.password%>" type="password">
          <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>