<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">Follow List</h1>
    <% @follows.each do |follow| %>
      <div class="users-index-item">
        <div class="user-left">
        <% user=User.find_by(id: follow.follow_user_id)%>
          <%=link_to("/users/#{user.id}") do%>
            <img src="<%= "/user_images/#{user.image_name}" %>">
          <%end%>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>