<div class="main users-index">
  <div class="container">
    <div class="user-search">
      <%= form_tag("/users/index", {method: "get"}) do %>
        <input name="search" class="search-form">
        <input type="submit" value="&#xf002; 検索" class="fas">
      <% end %>
    </div>
    <h1 class="users-heading">User Searching</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%=link_to("/users/#{user.id}") do%>
            <img src="<%= "/user_images/#{user.image_name}" %>">
          <%end%>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>