<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p class="user-email">ユーザID：<%= @user.email %></p> 
      <% if @user.id == @current_user.id %>
        <%= link_to("/users/#{@user.id}/edit") do%>
          <span class="fas fa-edit user-edit" style="color:black"></span>
        <% end %>
      <% end %>
      <% if @user.id != @current_user.id%>
        <% if Follow.find_by(follow_user_id: params[:id],follwers_user_id:@current_user.id)%>
          <%= link_to("/follows/#{@user.id}/destroy",{method: "post"}) do%>
            <span class="fab fa-waze follow-btn" style="color:black"></span>
          <% end %>
        <% else %>
          <%= link_to("/follows/#{@user.id}/create",{method: "post"}) do%>  
            <span class="fab fa-waze" style="color:#d3d3d3"></span>
          <% end %>
        <% end %>  
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
          <br>
          <% if post.image_name%>
            
            <%= link_to("/posts/#{post.id}") do%>
            <img src="<%= "/post_images/#{post.image_name}" %>">
            <%end%>
          <%end%>
          
        </div>
      </div>
    <% end %>
  </div>
</div>