<div class="about-main">
  <h2>ChinchinApp</h2>
  <p>
    新時代のSNSサービスです。
  </p>
  <p>
    ちんちんは決して下品なものではありません。
  </p>
  <p>
    古くからから息子と慕われてきたほどのもの。
  </p>
  <p>
    神聖なイチモツにもっと愛情を注ぎましょう。
  </p>
  <p>
    ちんちんの近況やつぶやきを投稿し、他のユーザーとシェアしましょう。
  </p>
  <p>
    １つ頭抜けた存在になれますよ。
  </p>
  
</div>