<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <% if post.user_id==@current_user.id || Follow.find_by(follow_user_id:post.user_id,follwers_user_id:@current_user.id)%>
      <div class="posts-index-item">
        <div class="post-left">
          <%= link_to("/users/#{post.user.id}") do%>
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
          <%end%>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
          <br>
          <% if post.image_name%>
            
            <%= link_to("/posts/#{post.id}") do%>
            <img src="<%= "/post_images/#{post.image_name}" %>">
            <%end%>
          <%end%>
          
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>