<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">New Posting</h1>
    <%= form_tag("/posts/create" ,{multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="content"><%= @post.content %></textarea>
          <input name="image" type="file">
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>