<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= link_to("/users/#{@user.id}") do%>
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%end%>
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
        <br>
        <div class="post-show-img">
          <% if @post.image_name%>
              <img src="<%= "/post_images/#{@post.image_name}" %>">
          <%end%>
        </div>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      
        <div class="post-menus">
          <%= link_to("コメント欄", "/comments/index/#{@post.id}") %>
          <%= link_to("コメントする", "/comments/new/#{@post.id}") %>
          <% if @post.user_id == @current_user.id %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>