.form-body{
  background-color: transparent;
 }

.users-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 40px;
    font-family:fantasy;
    color: #000;
  }
  
  .users-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    display: table;
    width: 100%;
  }
  
  .user-left img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
  
  .user-name a {
    font-weight: 600;
  }
  
  .user-name a:hover {
    color: #3ecdc6;
  }
  
  .user-left {
    float: left;
    width: 10%;
  }
  
  .user-right {
    width: 90%;
    padding-left: 25px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
  }
  
  /* users/show ================================ */
  .user-show {
    text-align: center;
  }
  
  .user {
    margin-bottom: 20px;
  }
  
  .user img {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }
  
  .user h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .user p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  
  .user a {
    color: #8899a6;
    text-decoration: underline;
    font-weight: 200;
  }
  
  .user span {
    color: #afb6bf;
    font-weight: 200;
    padding: 0 6px 0 8px;
  }
  
  .user-tabs {
    margin-top: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  
  .user-tabs li {
    float: left;
  }
  
  .user-tabs li.active {
    border-bottom: 2px solid #3ecdc6;
  }
  
  .user-tabs li.active a {
    color: #57575f;
  }
  
  .user-tabs a {
    display: inline-block;
    padding: 16px 30px;
    color: #afb6bf;
  }
  
  /* users/new, users/edit ================================ */
  .users-form input {
    margin-bottom: 15px;
  }

  .follow-btn{
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content: "\f83f";
    font-size:50px;
  }

  .user-edit{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f044";
    font-size:40px;
  }

  .user-email{
    line-height:50px;
  }

  .search-form{
    background-color:white;
    border:solid 1px black;
  }
  