<!DOCTYPE html>
<html>
  <head>
    <title>ChinchinApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("ChinchinApp", "/posts/index") %>
        <% else %>
          <%= link_to("ChinchinApp", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
          <%=link_to("/users/#{@current_user.id}") do%>
            <img src="<%= "/user_images/#{@current_user.image_name}" %>">
          <%end%>
          </li>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("TimeLine", "/posts/index") %>
          </li>
          <li>
            <%= link_to("New POSTING", "/posts/new") %>
          </li>
          <li>
            <%= link_to("User Searching", "/users/index") %>
          </li>
          <li>
            <%= link_to("Follow", "/users/#{@current_user.id}/follow") %>
          </li>
          <li>
            <%= link_to("Follower", "/users/#{@current_user.id}/follower") %>
          </li>
          <li>
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>
          <!--
          <li>
            <%= link_to "退会", "/users/destroy", {method: :post}%>  //危険
          </li>
          -->
        <% else %>
          <li>
            <%= link_to("about", "/about") %>
          </li>
          <li>
            <%= link_to("New User Registration", "/signup") %>
          </li>
          <li>
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
